configs/VaSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OUTPUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="APPLICATION_VERSION">
          <xs:complexType>
            <xs:attribute name="VA" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="ALERT_TRACKING_NUMBER" type="xs:string" />
        <xs:element name="VA">
          <xs:complexType>
            <xs:attribute name="ALART_TYPE" type="xs:string" use="required" />
            <xs:attribute name="LOCATION_ID" type="xs:string" use="required" />
            <xs:attribute name="CAM_ID" type="xs:string" use="required" />
            <xs:attribute name="ZONE_ID" type="xs:unsignedByte" use="required" />
            <xs:attribute name="ZONE_COOR" type="xs:string" use="required" />
            <xs:attribute name="OBJ_COUNT" type="xs:unsignedByte" use="required" />
            <xs:attribute name="TIME_STAMP" type="xs:decimal" use="required" />
            <xs:attribute name="VIDEO" type="xs:string" use="required" />
            <xs:attribute name="SNAPSHOT" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="CRC">
          <xs:complexType>
            <xs:attribute name="CHECKSUM" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
